.app-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  font-family: 'Roboto';
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #a35200;
}

.image {
  width: 150px;
}

.button {
  background-color: #f9d423;
  color: #a35200;
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0px;
}

.score-container {
  display: flex;
}

.score {
  font-size: 12px;
  padding: 10px;
}
